body {
    /* background-color: #131313; */
    background-color: #FFFCF6;
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    color: #E86249;
    font-size: 60;
}

h2 {
    color: #F4B1A4;
    font-size: 36;
}

h3 {
    color: #F4B1A4;
    /* font-size: 30; */
    font-size: 50;
    font-style: italic;
    text-align: left;
}

h4 {
    color: #F4B1A4;
    font-size: 24;
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

h5 { /* good for quotes */
    color: #F4B1A4;
    font-size: 30;
    font-weight: bolder;
    text-align: left;
}

p {
    color: #333333;
    /* color: white; */
    font-size: 24;
    text-align: left;
}

.main-box {
    display: flexbox;
    flex-direction:column;
}

.left-aligned-text {
    text-align: left;
}



/* TODO: left-align images! */
.img { /* so images don't take up the entire screen & are left aligned */
    max-width: 80%;
    min-width: 80%;
    /* justify-content: flex-start;
    align-items: flex-start;
    align-content:flex-start;
    align-self:first baseline; */
    
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; /* TODO: fix bug that makes the IO tables & takeaways text weird vertical placement*/
}

#left-col {
    width: 45%;
    /* width: 45%; */
    /* background-color: pink; */
}

#right-col {
    width: 45%;
    /* background-color: lightgray; */
}


  /** Code for image-gallery-wrapper & m@media only screen adapted from: 
   * https://ajeetchaulagain.com/blog/react-image-gallery
   */
  .image-gallery-wrapper {
    margin-top: 5rem;
    max-height: 20%;
    max-width: 70%;
    margin: 0 auto;
    border: 1px solid rgb(146, 129, 242);
    box-shadow: #2b15453d 1px 10px 10px 5px;
  }
  
  @media only screen and (min-device-width: 375px) {
    .header-wrapper {
      padding: 1rem;
    }
  }
